---
import Page from '../components/Page.jsx';
import Button from '../components/react/Button.jsx';
import Badges from '../components/react/Badges.jsx';
import View from '../components/react/View.jsx';

const badges = await fetch('https://api.stackexchange.com/2.3/badges?order=desc&sort=rank&site=stackoverflow')
    .then((res) => res.json());
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reastacksrto</title>

    <link rel="icon" type="image/svg+xml" href="https://stackoverflow.design/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
</head>
<body>
    <Page:visible selectedNavIndex={0}>
        <View>
            <h2 class="fs-display1">React components</h2>
            <p class="fs-body1">Below are React buttons.</p>
            <Button variant="primary">This is a React Button</Button>
        </View>
        <View className="mt24">
            <h2 class="fs-headline1">Enjoy these badges rendered with React</h2>
            <Badges badges={badges} />
        </View>
    </Page:visible>
</body>
</html>
