---
import Page from '../components/Page.jsx';
import AvatarReact from '../components/react/Avatar.jsx';
import AvatarPreact from '../components/preact/Avatar.jsx';
import AvatarSvelte from '../components/svelte/Avatar.svelte';
import AvatarVue from '../components/vue/Avatar.vue';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stacks - Avatar</title>
    <link rel="icon" type="image/svg+xml" href="https://stackoverflow.design/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
</head>
<body>
    <Page:visible selectedNavIndex={0}>
        <h2 class="fs-display1">Avatars</h2>
        <p>Avatars are used to quickly identify users or teams.</p>
        <div>
            <h2 class="fs-headline1">React</h2>
            <AvatarReact:visible src="https://picsum.photos/32" />
            <AvatarReact:visible src="https://picsum.photos/48" size={24} />
            <AvatarReact:visible src="https://picsum.photos/64" size={32} />
            <AvatarReact:visible src="https://picsum.photos/96" size={48} />
            <AvatarReact:visible src="https://picsum.photos/128" size={64} />
            <AvatarReact:visible src="https://picsum.photos/192" size={96} />
            <AvatarReact:visible src="https://picsum.photos/256" size={128} />
        </div>
        <div class="mt64">
            <h2 class="fs-headline1">Preact</h2>
            <AvatarPreact:visible src="https://picsum.photos/32" />
            <AvatarPreact:visible src="https://picsum.photos/48" size={24} />
            <AvatarPreact:visible src="https://picsum.photos/64" size={32} />
            <AvatarPreact:visible src="https://picsum.photos/96" size={48} />
            <AvatarPreact:visible src="https://picsum.photos/128" size={64} />
            <AvatarPreact:visible src="https://picsum.photos/192" size={96} />
            <AvatarPreact:visible src="https://picsum.photos/256" size={128} />
        </div>
        <div class="mt64">
            <h2 class="fs-headline1">Svelte</h2>
            <AvatarSvelte:visible src="https://picsum.photos/32" />
            <AvatarSvelte:visible src="https://picsum.photos/48" size={24} />
            <AvatarSvelte:visible src="https://picsum.photos/64" size={32} />
            <AvatarSvelte:visible src="https://picsum.photos/96" size={48} />
            <AvatarSvelte:visible src="https://picsum.photos/128" size={64} />
            <AvatarSvelte:visible src="https://picsum.photos/192" size={96} />
            <AvatarSvelte:visible src="https://picsum.photos/256" size={128} />
        </div>
        <div class="mt64">
            <h2 class="fs-headline1">Vue</h2>
            <AvatarVue:visible src="https://picsum.photos/32" />
            <AvatarVue:visible src="https://picsum.photos/48" size={24} />
            <AvatarVue:visible src="https://picsum.photos/64" size={32} />
            <AvatarVue:visible src="https://picsum.photos/96" size={48} />
            <AvatarVue:visible src="https://picsum.photos/128" size={64} />
            <AvatarVue:visible src="https://picsum.photos/192" size={96} />
            <AvatarVue:visible src="https://picsum.photos/256" size={128} />
        </div>
    </Page:visible>
</body>
</html>
