---
import Page from '../components/Page.jsx';
import Avatar from '../components/svelte/Avatar.svelte';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stacks Svelte - Avatar</title>
    <link rel="icon" type="image/svg+xml" href="https://stackoverflow.design/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
</head>
<body>
    <Page:visible selectedNavIndex={1}>
        <h2 class="fs-display1">Avatars</h2>
        <p class="fs-body2">Below are avatars built with Svelte.</p>
        <Avatar:visible src="https://picsum.photos/32" />
        <Avatar:visible src="https://picsum.photos/48" size={24} />
        <Avatar:visible src="https://picsum.photos/64" size={32} />
        <Avatar:visible src="https://picsum.photos/96" size={48} />
        <Avatar:visible src="https://picsum.photos/128" size={64} />
        <Avatar:visible src="https://picsum.photos/192" size={96} />
        <Avatar:visible src="https://picsum.photos/256" size={128} />
    </Page:visible>
</body>
</html>
