---
import CounterReact from '../components/CounterReact.jsx';
import CounterSvelte from '../components/CounterSvelte.svelte';
import CounterVue from '../components/CounterVue.vue';
import Page from '../components/Page.jsx';
import ButtonSvelte from '../components/svelte/Button.svelte';
import ButtonBadgeSvelte from '../components/svelte/ButtonBadge.svelte';

let variableExample = '<=== look';
let darkMode = false;

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>

    <link rel="icon" type="image/svg+xml" href="https://stackoverflow.design/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">

    <style>
        /* header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        } */
    </style>
</head>
<body>
    <Page:visible selectedNavIndex={1}>
        <h2 class="fs-display1">Svelte components</h2>
        <p class="fs-body1">Below are Svelte buttons in a React container! Nifty!</p>
        <ButtonSvelte variant="primary">
            I'm a svelte button
            <ButtonBadgeSvelte number={1234} />
        </ButtonSvelte>
    </Page:visible>
</body>
</html>
